<div class="container mt-4">
  <h3>Iniciar sesión</h3>

  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="mb-2">
      <label>Correo:</label>
      <input class="form-control" formControlName="correo">
    </div>

    <div class="mb-2">
      <label>Contraseña:</label>
      <input type="password" class="form-control" formControlName="contrasena">
    </div>

    <button class="btn btn-success" [disabled]="form.invalid">Iniciar sesión</button>
  </form>

  <div class="mt-3 text-info" *ngIf="mensaje">{{ mensaje }}</div>

  <div class="mt-4 d-flex align-items-center">
    <button class="btn btn-secondary" (click)="irARegistro()">Regístrate</button>
  </div>

  <div class="mt-3">
  <button class="btn btn-outline-secondary" (click)="irARecuperar()">¿Olvidaste tu contraseña?</button>
  </div>

</div>
