<div class="container mt-4">
  <h3>Realizar denuncia</h3>

  <form [formGroup]="form" (ngSubmit)="enviar()">
    <div class="mb-3">
      <label>Descripción:</label>
      <textarea class="form-control" formControlName="descripcion" rows="4"></textarea>
    </div>

    <div class="mb-3">
      <label>
        <input type="checkbox" formControlName="anonima">
        ¿Deseas hacer esta denuncia anónima?
      </label>
    </div>

    <button class="btn btn-danger" [disabled]="form.invalid">Enviar denuncia</button>
  </form>

  <div class="mt-3 text-info" *ngIf="mensaje">{{ mensaje }}</div>
</div>
